@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@500&display=swap');

:root {
    --header-height: 81px;
    --padding-mixed-base-horizontal: 16px;
    --btn-border-radius: 7px;
    --btn-line-height: 18px;
    --btn-font-size: 15px;
    --btn-font-weight: 600;
}

:root {
    --brand-primary: #1e8b68;
    --btn-bg-base: rgba(0, 12, 30, 0.8);
    --btn-color-base: #4e5968;
    --gray-50: #dcd5d5;
    --gray-200: #e5e7eb;
    --gray-500: #8b95a1;
    --blue-gray-500: #191f28;
    --gray-opacity-200: rgba(0, 27, 55, 0.1);
    --white: #ffffff;
    --white-50: #fafbf9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body,
html {
    word-wrap: break-word;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

a {
    text-decoration: none;
}

main {
    overflow: hidden;
}

.section__wrapper {
    width: 92%;
    max-width: 1140px;
    padding-top: 100px;
    margin: auto;
    opacity: 0;
}

.section-text__wrapper {
    position: relative;
    z-index: 2;
}

.section-h1-font {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--brand-primary);
    margin-bottom: 30px;
}

.section-h2-font {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--blue-gray-500);
}

.section__text-wrapper-animation {
    animation: 0.5s ease-in-out 0s 1 normal forwards running smooth-show;
}

.p-header__layout {
    position: fixed;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 10;
}

.p-header__border {
    box-shadow: 0 0.5px var(--gray-200);
}

.p-header_font {
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
}

.p-header__dark {
    background-color: var(--white);
    color: var(--black);
}

.header-wrapper {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app_download_btn {
    font-size: 12px;
    font-weight: 500;
    background-color: var(--brand-primary);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--white);
}

.first-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--header-height);
}

.first-section__image {
    background-repeat: no-repeat;
    background-position: 30% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.first-section__content {
    margin-top: auto;
}

.first-section__arrow_bottom_btn {
    background: none;
    border: 0px;
    padding: 0px;
    outline: none;
    cursor: pointer;
    margin-bottom: 40px;
}

.first-section__arrow_bottom {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    animation: up-down 1.4s infinite ease-in-out alternate;
}

.first-section__app_store {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.first-section__font {
    font-size: 66px;
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}

.p-button &&& {
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.p-button {
    cursor: pointer;
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-bg-base);
    color: var(--white);
    width: 140px;
}

.p-button__layout {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.p-button__font {
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height);
    white-space: nowrap;
}

.p-button__padding {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: calc(var(--padding-mixed-base-horizontal) - 2px);
    padding-right: var(--padding-mixed-base-horizontal);
}

.second-section {
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding: 200px 0;
    background-color: var(--white-50);
}

.second-section-font {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.6;
    color: var(--blue-gray-500);
    text-align: center;
    margin-bottom: 50px;
}

.third-section {
    position: relative;
    background-color: var(--white);
}

.third-section__image_wrapper {
    height: 1472px;
}

.third-section_image_container {
    position: relative;
    flex: 1;
}

.third-section__image {
    width: 100%;
}

.third-section__left_image {
    width: 550px;
    height: 1139px;
    position: absolute;
    top: 220px;
    right: -50px;
}

.third-section__left_image_animation {
    opacity: 0;
    transform: translate3d(0px, 50px, 0px);
    animation: 0.5s ease-in-out 0.5s 1 normal forwards running smooth-show;
}

.third-section__right_image {
    width: 550px;
    height: 1139px;
    position: absolute;
    bottom: 200px;
    left: -50px;
}

.third-section__right_image_animation {
    opacity: 0;
    transform: translate3d(0px, 50px, 0px);
    animation: 0.5s ease-in-out 1s 1 normal forwards running smooth-show;
}

.fourth-section {
    position: relative;
    background-color: var(--white-50);
}

.fourth-section__image_wrapper {
    height: 900px;
}

.fourth-section__image {
    width: 1000px;
    position: absolute;
    left: calc(50% - 500px);
    bottom: 200px;
}

.fourth-section__image_animation {
    opacity: 0;
    transform: translate3d(0px, 50px, 0px);
    animation: 0.5s ease-in-out 0.5s 1 normal forwards running smooth-show;
}

.p-footer {
    padding: 50px 67px 100px;
    background-color: var(--blue-gray-500);
}

.p-logo {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: var(--brand-primary);
    font-weight: 600;
}

.p-logo:before {
    content: url('../../../../public/images/logo.png');
    vertical-align: middle;
}

.p-footer__inner {
    max-width: 1064px;
    margin: auto;
    box-sizing: border-box;
}

.p-footer__address {
    color: var(--gray-500);
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    word-break: keep-all;
}

@media (max-width: 768px) {
    .section-h1-font {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .section-h2-font {
        font-size: 28px;
    }

    .section__wrapper {
        width: 80%;
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 50px;
        opacity: 0;
    }

    .first-section__font {
        font-size: 33px;
        line-height: 1.4;
        text-align: center;
        color: var(--white);
    }

    .first-section__content {
        width: 240px;
    }

    .second-section-font {
        width: 300px;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.5;
        color: var(--blue-gray-500);
    }

    .third-section__image_wrapper {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: 640px;
        margin-left: -24px;
        overflow-x: visible;
        overflow-y: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        gap: 10px;
    }

    .third-section__left_image {
        position: static;
        flex-shrink: 0;
        width: 275px;
        height: 569px;
        margin-top: 20px;
    }

    .third-section__right_image {
        position: static;
        flex-shrink: 0;
        width: 275px;
        height: 569px;
        margin-top: 20px;
    }

    .fourth-section__image_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 350px;
    }

    .fourth-section__image {
        width: 500px;
        max-width: 300px;
        position: relative;
        left: 0;
        bottom: 0;
    }
}

@keyframes up-down {
    from {
        transform: translateY(-5px);
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: translateY(5px);
        opacity: 1;
    }
}

@keyframes smooth-show {
    from {
        opacity: 0;
        transform: translate3d(0px, 50px, 0px);
    }
    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}
